.bs-detector {
    
    position: relative;

    &::before {
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        font-size: 10px;
        font-style: normal;
        letter-spacing: 1px;
        line-height: 10px;
        padding: 4px;
        position: absolute;
        text-transform: uppercase;
        left: 0;
        bottom: 100%;
    }

    &.bs-detector__anecdotal {
        
    }

    &.bs-detector__speculation {
        font-style: italic;
        color: rgba( 0, 0, 0, .5 );
        text-decoration: line-through;
        
        &:hover::before {
            background-color: firebrick;
            content: 'speculative';
            color: white;
        }
    }

    &.bs-detector__suggestive {
        color: transparent;
        text-shadow: 0 0 8px black;
        &:hover {
            color: white;
            &::before {
                background-color: cornflowerblue;
                color: initial;
                content: 'suggestive';
                text-shadow: none;
            }
        }
        
    }

    &.bs-detector__emphasis {
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            &::before {
                background-color: chartreuse;
                content: 'needs emphasis';
                font-weight: normal;
            }
        }
    }

}

.bs-meter {

    --space: 16px;

    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    bottom: var( --space );
    box-shadow: 0 4px 4px black;
    box-sizing: border-box;
    color: black;
    left: var( --space );
    padding: var( --space );
    position: fixed;
    z-index: 99999;

    label { 
        font: normal 14px/20px sans-serif;
        display: block; 
    }

    meter { width: 200px; }

}